<div class="skybrud-video-picker" ng-controller="Skybrud.VideoPicker.Video.Controller" ng-class="{loading: loading}">

    <div class="skybrud-video-picker-option" ng-show="mode == 'url'">
        <div>
            <label for="{{uniqueId}}_url">
                <strong><localize key="videopicker_url">URL</localize></strong>
            </label>
            <button type="button" ng-click="update()" ng-show="model.value.source" ng-disabled="loading" localize="title" title="@videopicker_refetch">
                <i class="icon icon-sync"></i>
            </button>
        </div>
        <input id="{{uniqueId}}_url" type="text" ng-model="model.value.source" ng-change="change()" localize="placeholder" placeholder="@videopicker_url_placeholder"/>
    </div>
    
    <div class="skybrud-video-picker-option" ng-show="mode == 'embed'">
        <div>
            <label for="{{uniqueId}}_embed">
                <strong><localize key="videopicker_embed">Embed URL</localize></strong>
            </label>
            <button type="button" ng-click="update()" ng-show="model.value.source" ng-disabled="loading" localize="title" title="@videopicker_refetch">
                <i class="icon icon-sync"></i>
            </button>
        </div>
        <label>
            <textarea id="{{uniqueId}}_embed" ng-model="model.value.source" ng-change="change()"></textarea>
        </label>
    </div>
    
    <div class="--details" ng-show="model.value.details">
        
        <h4>{{model.value.details.title}}</h4>

        <div class="--meta">
            <div ng-show="model.value.provider">
                <localize key="videopicker_provider">Provider</localize>:
                {{model.value.provider.name}}
            </div>
            <div ng-show="duration">
                <localize key="videopicker_duration">Duration</localize>:
                {{duration.text}}
            </div>
        </div>
        
        <div class="--thumbnail">
            <img ng-src="{{thumbnail.url}}" width="350" />
        </div>

    </div>
    
    <umb-load-indicator ng-if="loading"></umb-load-indicator>
    
    <!--<pre>{{thumbnail | json}}</pre>

    <pre>{{model.value | json}}</pre>

    <pre>{{model | json}}</pre>-->

</div>